


.profilePicImg {
    background-color: cornflowerblue;
    border-radius: 50%;
    //padding:4px;
    //margin-bottom: 15px;
    color:white;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    svg{
      height: 90%;
      width: 90%;
    }
  }
  
